.contentContainer{
    min-height: 90vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rightSide{
    background-color: #E6EDf5;
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 50px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
.leftSide{
    height: 100%;   
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.searchContainer{
    margin-top: 50px;
    height: 40px;
    min-width: 300px;
    width: 300px;
    background-color: #E6EDf5;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.searchInput{
    border: none;
    background: none;
    outline: none;
    height: 40px;
    width: 70%;
    font-size: 20px;
}

.noteInteractPanel{
  
    display: flex;
    flex-direction: column;
    top:75%;
    left:0;
    position: fixed;
  }
.noteColorPanel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    background-color: blue;
    width: 200px; 
    height:50px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -150px;
    transition-duration: 600ms;
    font-family: 'Pangolin', cursive;
  }
.noteColorPanel:hover{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 0px;
    cursor: pointer;
  }

@media (max-width:1700px){
    .contentContainer{
    display: block;
    }
    .leftSide{
        width: 100%;
        justify-content: center;
    }
    .rightSide{
        width: 100%;
    }

}