.contentContainer{
    min-height: 80vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rightSide{
    background-color: #E6EDf5;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 20px;
    border-top-left-radius: 50px;
}
.leftSide{
    height: 100%;   
    width: 20%;
    display: flex;
    justify-content: center;

}
@media (max-width:950px){
    .contentContainer{
    display: block;
    }
    .leftSide{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .rightSide{
        width: 100%;
    }

}