.navBarContainer{
    height: 10vh;
    min-height: 80px;
    width: 100vw;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    color:black;
}